/node_modules
dist
.build
types
*.swp
*.swo
.vscode
.DS_Store
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
# Gatsby files
.cache/
# Serverless directories
.serverless/
ormconfig.ts
.webpack
.idea
/coverage/*
.env
my-dynamodb-data/